---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ChatBox from '../components/ChatBox.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Asistente Virtual - Almodóvar del Río">
  <Header />
  <main>
    <ChatBox />
  </main>
  <Footer />
</Layout>